<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_dicoding"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_dicoding"
        android:supportsRtl="true"
        android:theme="@style/Theme.SubmissionAplikasiStory"
        tools:targetApi="31">

        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAyY1EDUTSzYIplkQP79KN2Yx7IUJZfiJg" />

        <activity
            android:name=".view.home.MapsCoverageStoryActivity"
            android:exported="false"
            android:label="@string/title_activity_maps_coverage_story" />

        <receiver
            android:name=".view.PostWidget"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/post_widget_info" />
        </receiver>

        <service
            android:name=".view.service.StackWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <activity
            android:name=".view.home.DetailPostActivity"
            android:exported="false" />
        <activity
            android:name=".view.home.PostActivity"
            android:exported="false"
            android:theme="@style/Base.Theme.SubmissionAplikasiStory.Action.ClearSurface" />
        <activity
            android:name=".view.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".view.home.MainActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.SubmissionAplikasiStory.Action">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.RegisterActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>